<div class="container">
    <div class=" border mb-2 shadow rounded">
        <h1 class="text-center">Contact</h1>
        <p class="text-center">Please reach me at: <b> <a href="mailto:{{primaryEmailId}}">{{primaryEmailId}}</a> </b></p>
        <p class="text-center">or you can leave a message below:</p>
        <app-contact-form></app-contact-form>
        <pre></pre>
        
    </div>

    <!-- <p class="text-center">Feel free to connect with me on:</p> -->
    <div class="list-group shadow">
        <a href="{{profileLinkedin}}" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/profile_linkedin.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">LinkedIn</h3>
        </a>
        <a href="{{profileGithub}}" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/profile_github.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">GitHub</h3>
        </a>
    </div>
    <pre></pre>
</div>